<nav class="nav">
  <ul class="row nav-social-icons-wrapper">
      <li class="col-lg-3 logo-wrapper">
          <a class="logo-z-cyklu" href="#">
              <img src="img/logo_medium_full.png">
          </a>
      </li>
      <li class="col-lg-1 col-lg-offset-3">
          <a href="fb" class="icon-link"><span class="icon-facebook"></span></a>
      </li>
      <li class="col-lg-1">
          <a href="mail" class="icon-link"><span class="icon-mail"></span></a>
      </li>
      <li class="col-lg-1">
          <a href="rss" class="icon-link"><span class="icon-rss"></span></a>
      </li>
      <li class="col-lg-1">
          <a href="">
              o nas
          </a>
      </li>
      <li class="col-lg-1">
          <a href="">
              kontakt
          </a>
      </li>
  </ul>
  <ul class="row container nav-series-wrapper" data-spy="affix" data-offset-top="145">
      <li class="logo-z-cyklu-small-wrapper">
          <a class="logo-z-cyklu-small" href="#">
              <img src="img/logo_small.png">
          </a>
      </li>
      <% navs.forEach(function (nav) { %>
        <li>
          <div class="dropdown <%= nav.className %>">
              <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= nav.title %>
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  
              </ul>
          </div>
      </li>
      <% }); %>
  </ul>
</nav>
