<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container nav-wrapper">
  <% include ../partials/nav.ejs %>
</div>      <!-- /.nav-wrapper -->

    <a href="#" class="main-img-wrapper has-gradient" style="background-image: url('img/main-img.jpg')">
        <header class="container header-wrapper on-top">
            <div class="article-info">
                <span class="author">Twardziel Poznajświat</span> - <time>2 maja 2015</time>
            </div>
            <h1 class="article-header">
                Nie patrzę za siebie
            </h1>
            <p class="article-lead">
                Chciałbym być tylko skorupą pustą, samotną i nieczułą. Niemożność porzucenia wspomnień jest paraliżująca. Każdy kąt jest jakąś myślą zawieszoną w czasie, dlatego idę przed siebie poznawać nowe.
            </p>
            <em class="read-more">
                czytaj dalej &raquo;
            </em>
        </header>
    </a>

    <main class="container frontpage-wrapper">
        <div class="col-lg-10 articles-wrapper">
            <a href="#" class="col-lg-6 article-big-wrapper na-czasie">
                <h1>Na pagórkach</h1>
                <div class="article-big has-gradient">
                    <img src="img/img-1.jpg">
                    <div class="article-content-wrapper on-top">
                        <time class="article-date">
                            16 maja 2015
                        </time>
                        <div class="article-author">
                            Leśna jagoda
                        </div>
                        <p class="article-lead">
                            Nigdzie nie jest mi tak dobrze jak na leśnych pagórkach. Gdy w uszach dudni daleki szum strumienia,
                            w spokoju mogę porozmawiać z mchem. Mam wtedy gęsią skórkę.
                        </p>
                    </div>
                    <span class="icon-angle-circled-right on-top"></span>
                </div>
            </a>
            <a href="#" class="col-lg-6 article-wrapper wsrod-ludzi">
                <h1>Chyba wiem co robię!</h1>
                <div class="article">
                    <div class="img-wrapper">
                        <img src="img/img-2.jpg">
                    </div>
                    <div class="article-content-wrapper">
                        <time class="article-date">
                            16 maja 2015
                        </time>
                        <div class="article-author">
                            Pan Kulka
                        </div>
                        <p class="article-lead">
                            Niezmącony mój umysł od tygodni kilku zdaje się mi podpowiadać co powinienem był zrobić.
                            I chyba już wiem! Zjem pączka - będę kulką!
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="col-lg-6 article-wrapper w-slowach">
                <h1>Chyba wiem co robię!</h1>
                <div class="article">
                    <div class="img-wrapper">
                        <img src="img/img-2.jpg">
                    </div>
                    <div class="article-content-wrapper">
                        <time class="article-date">
                            16 maja 2015
                        </time>
                        <div class="article-author">
                            Pan Kulka
                        </div>
                        <p class="article-lead">
                            Niezmącony mój umysł od tygodni kilku zdaje się mi podpowiadać co powinienem był zrobić.
                            I chyba już wiem! Zjem pączka - będę kulką!
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="col-lg-6 article-wrapper w-muzyce">
                <h1>Chyba wiem co robię!</h1>
                <div class="article">
                    <div class="img-wrapper">
                        <img src="img/img-2.jpg">
                    </div>
                    <div class="article-content-wrapper">
                        <time class="article-date">
                            16 maja 2015
                        </time>
                        <div class="article-author">
                            Pan Kulka
                        </div>
                        <p class="article-lead">
                            Niezmącony mój umysł od tygodni kilku zdaje się mi podpowiadać co powinienem był zrobić.
                            I chyba już wiem! Zjem pączka - będę kulką!
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="col-lg-6 article-wrapper na-ekranie">
                <h1>Chyba wiem co robię!</h1>
                <div class="article">
                    <div class="img-wrapper">
                        <img src="img/img-2.jpg">
                    </div>
                    <div class="article-content-wrapper">
                        <time class="article-date">
                            16 maja 2015
                        </time>
                        <div class="article-author">
                            Pan Kulka
                        </div>
                        <p class="article-lead">
                            Niezmącony mój umysł od tygodni kilku zdaje się mi podpowiadać co powinienem był zrobić.
                            I chyba już wiem! Zjem pączka - będę kulką!
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="col-lg-6 article-wrapper w-muzyce">
                <h1>Chyba wiem co robię!</h1>
                <div class="article">
                    <div class="img-wrapper">
                        <img src="img/img-2.jpg">
                    </div>
                    <div class="article-content-wrapper">
                        <time class="article-date">
                            16 maja 2015
                        </time>
                        <div class="article-author">
                            Pan Kulka
                        </div>
                        <p class="article-lead">
                            Niezmącony mój umysł od tygodni kilku zdaje się mi podpowiadać co powinienem był zrobić.
                            I chyba już wiem! Zjem pączka - będę kulką!
                        </p>
                    </div>
                </div>
            </a>
            <a href="#" class="col-lg-6 article-wrapper na-ekranie">
                <h1>Chyba wiem co robię!</h1>
                <div class="article">
                    <div class="img-wrapper">
                        <img src="img/img-2.jpg">
                    </div>
                    <div class="article-content-wrapper">
                        <time class="article-date">
                            16 maja 2015
                        </time>
                        <div class="article-author">
                            Pan Kulka
                        </div>
                        <p class="article-lead">
                            Niezmącony mój umysł od tygodni kilku zdaje się mi podpowiadać co powinienem był zrobić.
                            I chyba już wiem! Zjem pączka - będę kulką!
                        </p>
                    </div>
                </div>
            </a>

        </div>
        <aside class="col-lg-2 aside-series-wrapper">
            <div class="series-wrapper" data-spy="affix" data-offset-top="745" data-offset-bottom="50">
                <h1>Cykle</h1>
                <ul class="series-list">
                    <li>
                        <a href="" class="na-czasie">
                            Temat miesiąca
                        </a>
                    </li>
                    <li>
                        <a href="" class="na-czasie">
                            Recenzje
                        </a>
                    </li>
                    <li>
                        <a href="" class="na-czasie">
                            Relacje
                        </a>
                    </li>
                    <li>
                        <a href="" class="na-czasie">
                            Lwy salonowe
                        </a>
                    </li>
                    <li>
                        <a href="" class="na-czasie">
                            Prime time
                        </a>
                    </li>
                    <li>
                        <a href="" class="wsrod-ludzi">
                            Miasto projektowane
                        </a>
                    </li>
                    <li>
                        <a href="" class="wsrod-ludzi">
                            Meandry kultury
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-slowach">
                            Poezje nieoczywiste
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-slowach">
                            Fantastyczny problem
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-slowach">
                            Wyrazy wyraziste
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-slowach">
                            Żywe słowa
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-muzyce">
                            Muzyka dla mas / nas
                        </a>
                    </li>
                    <li>
                        <a href="" class="na-ekranie">
                            Adaptacje & sensacje
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-slowach">
                            Dziesięć kochanek Filmu
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-obrazach">
                            Ścieżki malarstwa
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-obrazach">
                            Kultura w dymkach
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-przekroju">
                            Popkulturowy bestiariusz
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-przekroju">
                            Przepis na:
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-przekroju">
                            Imaginacje & inspiracje
                        </a>
                    </li>
                    <li>
                        <a href="" class="w-przekroju">
                            LUS|TRO
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </main> <!-- /container -->
    <footer class="container footer-wrapper">
        <nav>
            <ul class="footer-nav-list">
                <li>
                    <a href="">O nas</a>
                </li>
                <li>
                    <a href="">Kontakt</a>
                </li>
                <li class="copy-wrapper">
                    <span class="claim">Rozwijamy Kulturę</span>
                    &copy; zcyklu.pl 2017
                    <a target="_blank" href="http://zcyklu.pl">
                        <span class="icon-heart"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>


</body>
</html>
